.stfolder

# direnv
.envrc

# Terraform
.terraform
.ansible
*.tfstate
*.tfstate.backup

.git

# Terragrunt
.terragrunt-cache

_tmp

# Temporary
tf
ansible
observability

vault.yml

**/kubeconfigs/*
**/.ansible
ansible/files/*
ansible/output/*
ansible/tmp
ansible/config/*


!.gitkeep

