provider:
  name: rfc2136
registry: txt
txtPrefix: external-dns-
txtOwnerId: k8s
domainFilters:
  - lab.suse
  - lan.ping6.nl
  - demo.suse
extraArgs:
  - --rfc2136-host=ns1.lan.ping6.nl
  - --rfc2136-port=53
  - --rfc2136-zone=lab.suse
  - --rfc2136-zone=lan.ping6.nl
  - --rfc2136-zone=demo.suse
  - --rfc2136-tsig-secret-alg=hmac-sha256
  - --rfc2136-tsig-axfr
  - --policy=sync
env:
  - name: "EXTERNAL_DNS_RFC2136_TSIG_SECRET"
    valueFrom:
      secretKeyRef:
        name: rfc2136-keys
        key: rfc2136-tsig-secret
  - name: "EXTERNAL_DNS_RFC2136_TSIG_KEYNAME"
    valueFrom:
      secretKeyRef:
        name: rfc2136-keys
        key: rfc2136-tsig-keyname
