apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: local-issuer-key
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: local-issuer-key
  data:
    - secretKey: tls.key
      remoteRef:
        key: secretstore.lab.suse
        property: local-issuer-key
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: local-dns-tsig-secret
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: local-dns-tsig-secret
  data:
    - secretKey: secret
      remoteRef:
        key: secretstore.lab.suse
        property: local-dns-tsig-secret
