defaultNamespace: metallb-system
targetCustomizations:
  - name: demolab
    clusterSelector:
      matchLabels:
        management.cattle.io/cluster-display-name: demolab
    yaml:
      overlays:
        - demolab
  - name: cluster-gpu
    clusterSelector:
      matchLabels:
        management.cattle.io/cluster-display-name: cluster-gpu
    yaml:
      overlays:
        - cluster-gpu
overrideTargets:
  - clusterSelector:
      matchLabels:
        fleet-app-metallb: true
