defaultNamespace: metallb-system
targetCustomizations:
  - name: suselab
    clusterSelector:
      matchLabels:
        management.cattle.io/cluster-display-name: suselab
    yaml:
      overlays:
        - suselab
  - name: cluster-gpu
    clusterSelector:
      matchLabels:
        management.cattle.io/cluster-display-name: cluster-gpu
    yaml:
      overlays:
        - cluster-gpu
overrideTargets:
  - clusterSelector:
      matchLabels:
        fleet-app-metallb: true
